# =====================
# requirements.txt
# By GahmenGang (https://github.com/GahmenGang)
# Date: 2025-06-26
# Version 3
# =====================

# pyrofork_NEW
# Release v2.3.67
# Date: 2025-06-26
https://github.com/GahmenGang/pyrofork_NEW/archive/refs/tags/v2.3.67.zip

# pyrogram_NEW
# Release v2.2.12_2025-06-07
# Date: 2025-06-07
https://github.com/GahmenGang/pyrogram_NEW/archive/refs/tags/Pyrogram-v2.2.12_2025-06-07.zip

# python-telegram_NEW
# Release 2025-06-26
# Date: 2025-06-26
https://github.com/GahmenGang/python-telegram_NEW/archive/refs/tags/2025-06-26.zip



